venv/
__pycache__/
*.pyc
.pytest_cache/
.vscode/
.idea/
.venv/
env/

data/raw/
models/trained/
reports/test_runs/

.env
*.pem

# Logs
*.log

# Distribution / Packaging
build/
dist/
*.egg-info/

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs / OS
.vscode/
.idea/
.DS_Store